* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    background: radial-gradient(#000000, #0a3f3b);
    overflow-x: hidden;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    body {
        background: radial-gradient(circle at top, #0E231F, #0a3f3b);
    }
}