* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    background: radial-gradient(#000000, #0a3f3b);
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
